
body {
    background-color: #ffffff;
}
.hero {
    min-height: 100vh;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/hero2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}





.heroheaderbig {
    color: #ffffff;
    font-size: 9vh;
    font:63.648px Euclidcircularb, Arial, sans-serif ;
   margin:63px 0px 15px 0px ;
   font-weight: bold;
   text-align: center;
  
}
.heroheadersmall {
    font:22px Euclidcircularb, Arial, sans-serif ;
    color: orangered;
    text-align: center;
    margin: 20px 300px;
}

#heroimage {
    width: 100%;
    height: 100%;
    transform-origin: 0px 0px 0px; 
    margin-bottom: 150px;
}

#herobtn-default {
    margin: 50px auto;
    font: 30px Euclidcircularb, Arial, sans-serif ;
    background-color: orangered;
    color: #fff;
    border: none;
    border-radius: 7px;
    padding: 10px 25px;
    display: flex;
    font-weight: bold;
 
}




/* EMPOWER */

.empower {
    min-height: 500px;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/happy1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


#empowerheaderbig {
    font:40.648px Euclidcircularb, Arial, sans-serif ;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 7vh;
    margin: 15px auto;
    text-align: center;
}




/* WHO WE ARE */

.whoweare {
    min-height: 400px;
    margin: 50px 0px;
    
}

 

#whobtn-default {
    font-size: 22px;
    font-weight: 600;
    background-color: orangered;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
    padding: 10px 30px;
    font-weight: bold;
    margin:100px 0px 15px 100px ;
    border: none;
    border-radius: 5px;
}



.whorightdiv {
    background:linear-gradient(0deg, rgba(60, 64, 111, 0.3), rgba(15, 15, 194, 0.3)), url("./assets/computer.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 500px;
    
}

#whorightdivheaderbig {
    font:46.648px Euclidcircularb, Arial, sans-serif ;
    font-weight: bold;
    color: #9888FA;
    margin: 15px 0px 0px 100px;
}

#whorightdivtext {
    color: #ffffff;
    font:15px Euclidcircularb, Arial, sans-serif ;
    margin: 50px 100px 0px 100px;
    font-weight: 300;
    line-height: 1.5;
}


/* REDEEM */

.redeem {
    margin: 50px 0px;
}

#redeemheadersmall {
    color: #181818;
    font:25px Euclidcircularb, Arial, sans-serif ;
    font-weight: 500;
    margin-left: 100px;
}
#redeemheaderbig {
    color: #181818;
    font:50px Euclidcircularb, Arial, sans-serif ; 
    font-weight: bold;
    margin-left: 100px;
}

#redeemheadertext {
    margin-left: 100px;
}


/* CONTACT */

#contactheaderbig {
    font: 50px Euclidcircularb, Arial, sans-serif ;
    font-weight: bold;
    color: #181818;
    font-size: 5vh;
    margin: 15px 50px;
}

.contactInput {
    width: 100% !important;
    height: 40px !important;
    border: 1px solid #dadbdd !important;
    border-radius: 7px !important;
}
#contactSumit {
    width: 100% !important;
    background-color: #090046;
    color: #97FEED;
    border: none;
    margin:20px auto;
    border-radius: 20px;
    padding: 20px;
    
}


/* MODAL */

#modalHeader {
    color: #090046;
    margin: 30px auto 50px auto;
    display: flex;
    justify-content: center;
  }
  
  
  
  #fname {
      width: 300px !important;
  }
  #lname {
      width: 300px !important;
  }
  
  #gender {
      width: 300px !important;
  }
  input[type=number], input[type=email], input[type=text], input[type=text] {
      width: 860px;
      height: 45px;
      border: 1px solid #dadbdd;
      border-radius: 7px;
      margin-bottom: 20px;
    }
  
  
  /* input{
    
  } */
  
   
  select {
      width: 860px;
      height: 45px;
      border: 1px solid #dadbdd;
      border-radius: 7px;
      margin-bottom: 20px;
  }
   
  label {
      font-weight: normal;
      color: #000;
  }
  
  input:valid {
       border: 1px solid green;
    }
    input:invalid {
       border: 1px solid red;
    }
  .modalbtn-default {
      margin-top: 20px;
      font-size: 24px;
      background-color: #090046;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #fff;
      padding: 10px 40px 10px 40px;
  }





  @media screen and (max-width: 600px) {

    .hero {
        min-height: 450px;
        background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/hero1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

.heroheaderbig {
    color: #ffffff;
    font-size: 9vh;
    font:33.648px Euclidcircularb, Arial, sans-serif ;
   margin:63px 0px 15px 0px ;
   font-weight: bold;
   text-align: center;
}
.heroheadersmall {
    font:22px Euclidcircularb, Arial, sans-serif ;
    color: orangered;
    text-align: center;
    margin: 15px 20px;
}

#wholeftdivheaderbig {
    font:30.648px Euclidcircularb, Arial, sans-serif ;
    font-weight: bold; 
     color: #181818; 
    font-size: 5vh;
    margin: 15px auto;
    text-align: center;
}






/* EMPOWER */

.empower {
    min-height: 400px;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/happy1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


#empowerheaderbig {
    font:30px Euclidcircularb, Arial, sans-serif ;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 5vh;
    margin: 15px auto;
    text-align: center;
}













/* MODAL */
input[type=number], input[type=email], input[type=text], input[type=text] {
    width: 100% !important;
    height: 45px;
    border: 1px solid #dadbdd;
    border-radius: 7px;
    margin-bottom: 20px;
}
  


textarea {
    width: 100% !important;
    height: 45px;
    border: 1px solid #dadbdd;
    border-radius: 7px;
    margin-bottom: 20px;
}
 
select {
    width: 100% !important;
    height: 45px;
    border: 1px solid #dadbdd;
    border-radius: 7px;
    margin-bottom: 20px;
}
#fname {
    width: 100% !important;
}
#lname {
    width: 100% !important;
}

#gender {
    width: 100% !important;
}



.whorightdiv {
    background:linear-gradient(0deg, rgba(60, 64, 111, 0.3), rgba(15, 15, 194, 0.3)), url("./assets/aboutback.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 500px;
    
}

#whorightdivheaderbig {
    font:46.648px Euclidcircularb, Arial, sans-serif ;
    font-weight: bold;
    color: #9888FA;
    margin: 15px 0px 0px 20px;
}

#whorightdivtext {
    color: #ffffff;
    font:15px Euclidcircularb, Arial, sans-serif ;
    margin: 50px 50px 0px 20px;
    font-weight: 300;
    line-height: 1.5;
}


/* REDEEM */

#redeemheadersmall {
    color: #181818;
    font:25px Euclidcircularb, Arial, sans-serif ;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 20px;
}
#redeemheaderbig {
    color: #181818;
    font:40px Euclidcircularb, Arial, sans-serif ; 
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}

#redeemheadertext {
    margin-left: 20px;
    margin-top: 20px;
}




/* CONTACT */

#contactheaderbig {
    font: 30px Euclidcircularb, Arial, sans-serif ;
    font-weight: bold;
    color: #181818;
    font-size: 5vh;
    margin: 25px 20px;
    text-align: center;
}

.contactInput {
    width: 100% !important;
    height: 40px !important;
    border: 1px solid #dadbdd !important;
    border-radius: 7px !important;
}
#contactSumit {
    width: 100% !important;
    background-color: #090046;
    color: #97FEED;
    border: none;
    margin:20px auto;
    border-radius: 20px;
    padding: 20px;
    
}


  }